<div class="dice">
  @switch (action) {
    @case (ActionDiceResult.BARBARIAN) {
      <ng-container>
        <img
          [ngSrc]="DiceActionResource.BARBARIAN"
          [priority]="true"
          width="96"
          height="96"
          alt="barbarian dice" />
      </ng-container>
    }
    @case (ActionDiceResult.BLUE) {
      <img
        [ngSrc]="DiceActionResource.BLUE"
        [priority]="true"
        width="96"
        height="96"
        alt="blue building dice" />
    }
    @case (ActionDiceResult.GREEN) {
      <img
        [ngSrc]="DiceActionResource.GREEN"
        [priority]="true"
        width="96"
        height="96"
        alt="green building dice" />
    }
    @case (ActionDiceResult.GOLD) {
      <img
        [ngSrc]="DiceActionResource.GOLD"
        [priority]="true"
        width="96"
        height="96"
        alt="gold building dice" />
    }
  }
</div>
