.dice {
  position: relative;
  border-radius: 10%;
  padding: 8%;
  background-color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (orientation: landscape) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (orientation: portrait) {
  img {
    width: auto;
    height: 100%;
  }
}
