<ion-header [translucent]="false">
  <ion-toolbar>
    <div slot="start" class="next-player ion-text-uppercase">
      <ion-text color="medium">Next</ion-text>
      <ion-text style="font-size: 1.2rem; font-weight: bold;" color="primary">
        {{ playService.nextPlayer?.name }}
      </ion-text>
    </div>
    <ion-title class="sd-dice-total">
      {{ this.playService.diceTotal }}
    </ion-title>
    <div slot="end" class="prev-player ion-text-end ion-text-uppercase" style="grid-column: 3">
      <ion-text color="medium">Prev</ion-text>
      @if (playService.prevPlayer) {
        <ion-text color="secondary" style="font-size: 1.2rem; font-weight: bold;">{{ playService.prevPlayer.name }}
        </ion-text>
      }
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative;" fullscreen>
  <div class="sd-tap-alert" *ngIf="playService.rollCount === 0">
    <span>Tap to roll the dice</span>
  </div>
  <div *ngIf="playService.activeGame" class="sd-play-container">
    @if (playService.isCitiesKnights) {
      <!-- Alchemy Button & Modal -->
      <ion-button id="present-alchemy-modal" class="sd-alchemist-button" size="large" shape="round">
        <ion-icon slot="icon-only" name="flask"></ion-icon>
      </ion-button>

      <ion-modal
        #alchemyModal
        (didPresent)="playService.playAlchemyBubbles()"
        (didDismiss)="handleAlchemyDialogDidDismiss($event)"
        style="--height: auto; --width: auto; --border-radius: 8px"
        trigger="present-alchemy-modal">
        <ng-template>
          <div class="modal-content">
            <ion-header class="ion-no-border">
              <ion-toolbar>
                <ion-title>Alchemist</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="alchemyModal.dismiss(null, 'cancel')">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" style="box-sizing: border-box">
              <div class="picker-container">
                <app-alchemy-picker color="danger" #red></app-alchemy-picker>
                <app-alchemy-picker color="warning" #gold></app-alchemy-picker>
                <ion-button
                  class="ion-margin picker-confirm"
                  color="primary"
                  role="button"
                  size="large"
                  (click)="alchemyModal.dismiss({ dice1: red.value, dice2: gold.value }, 'confirm')">
                  <ion-label>Roll Action</ion-label>
                </ion-button>
              </div>
            </ion-content>
          </div>
        </ng-template>
      </ion-modal>
    }

    <div class="sd-dice-container" (click)="rollDice()">
      <!-- Action die for Cities and Knights-->
      <app-action-die
        *ngIf="playService.isCitiesKnights"
        [action]="playService.diceActionResult"
        [@jiggleGold]="playService.isRolling() ? 'active' : ''"
        [classList]="[playService.isCitiesKnights ? 'barbarian-dice' : '']"></app-action-die>

      <!-- Standard dice-->
      <app-standard-die
        [number]="playService.dice1Result"
        color="red"
        [@jiggleRed]="playService.isRolling() ? 'active' : ''"
        [classList]="[playService.isCitiesKnights ? 'barbarian-dice' : '']"></app-standard-die>
      <app-standard-die
        [number]="playService.dice2Result"
        color="gold"
        [@jiggleGold]="playService.isRolling() ? 'active' : ''"
        [classList]="[playService.isCitiesKnights ? 'barbarian-dice' : '']"></app-standard-die>
    </div>

    <!-- Barbarian Indicator for Cities and Knights-->
    <app-barbarian-track
      [barbarianAttack]="playService.barbariansAttack"
      *ngIf="playService.isCitiesKnights"
      class="sd-barbarian-track"
      [barbarianCount]="playService.barbarianCount"></app-barbarian-track>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Reports button-->
    <ion-button style="--border-radius: 0;" slot="start" fill="clear" color="secondary" [routerLink]="['detail']"
                aria-label="Show reports">
      <ion-icon size="large" slot="icon-only" name="chart" style="padding-left: .5rem"></ion-icon>
    </ion-button>
    <!-- Game statistics-->
    <div class="sd-footer-stats">
      <ion-text color="secondary">{{ playService.rollCount | number }}
        <span>roll</span><span *ngIf="playService.rollCount > 1 || playService.rollCount < 1">s</span>
      </ion-text>

      @if (playService.activeGame) {
        <ion-text *ngIf="playService.activeGame" color="secondary">
          <span *ngIf="elapsedHours > 0">{{ elapsedHours | number: "1.0-0" }}:</span>
          <span>{{ elapsedMinutes | number: "2.0-0" }}:</span>
          <span>{{ elapsedSeconds | number: "2.0-0" }}</span>
        </ion-text>
      }
    </div>

    <!-- Game settings button & action sheet-->
    <ion-button style="--border-radius: 0;" slot="end" fill="clear" color="secondary" id="present-settings" aria-label="App menu">
      <ion-icon size="large" slot="icon-only" name="menu" style="padding-right: .5rem;"></ion-icon>
    </ion-button>
    <ion-action-sheet trigger="present-settings"
                      (ionActionSheetDidDismiss)="handleActionSheetDidDismiss($event)"
                      [buttons]="actionSheetButtons"/>
  </ion-toolbar>
</ion-footer>

<ion-modal [isOpen]="isRobberModalOpen"
           (click)="dismissRobberModal()"
           style="--height: auto; --width: auto; --background: transparent; --border-radius: 8px"
           [backdropDismiss]="false">
  <ng-template>
    <div class="modal-content" style="position: relative;">
      <img rel="preload" style="width: 100%; height: auto; transform: scale(1.5)"
           ngSrc="assets/images/sinister-robber-small.png"
           alt="sinister robber" height="480" width="480">
      <div
        style="background-color: var(--md-surface); position: absolute; top: 0; width: 100%; opacity: 0.95; text-align: center; padding: 1rem">
        <ion-text style="font-weight: bold; font-size: 1.2rem">
          The robber strikes!
        </ion-text>
      </div>
      <div
        style="background-color: var(--md-surface); position: absolute; bottom: 0; width: 100%; opacity: 0.8; text-align: center">
        <ion-button expand="full" fill="text" color="primary" (click)="dismissRobberModal()">
          <ion-text color="primary">Dismiss</ion-text>
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isBarbarianModalOpen"
           style="--height: auto; --width: auto; --background: transparent; --border-radius: 8px;"
           (didDismiss)="playService.resetBarbarians()" [backdropDismiss]="false" (click)="dismissBarbarianModal()">
  <ng-template>
    <div class="modal-content" style="position: relative;">
      <img rel="preload" style="width: 100%; height: auto; transform: scale(1.9)"
           ngSrc="assets/images/barbarians-attack-small.png"
           alt="barbarians attack" height="480" width="480">
      <div
        style="background-color: var(--md-surface); position: absolute; top: 0; width: 100%; opacity: 0.95; text-align: center; padding: 1rem">
        <ion-text style="font-weight: bold; font-size: 1.2rem">
          The barbarians attack!
        </ion-text>
      </div>
      <div
        style="background-color: var(--md-surface); position: absolute; bottom: 0; width: 100%; opacity: 0.8; text-align: center;">
        <ion-button expand="full" fill="text" color="primary" (click)="dismissBarbarianModal()">
          <ion-text color="primary">Dismiss</ion-text>
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isGameOverModalOpen"
           style="--height: auto; --width: auto; --background: transparent; --border-radius: 8px;"
           (didDismiss)="dismissGameOverModal()" [backdropDismiss]="false" (click)="dismissGameOverModal()">
  <ng-template>
    <div class="modal-content" style="position: relative;">
      <img rel="preload" style="width: 100%; height: auto; transform: scale(1.25)" ngSrc="assets/images/game-over-small.png"
           alt="game over" height="480" width="480">
      <div
        style="background-color: var(--md-surface); position: absolute; top: 0; width: 100%; opacity: 0.95; text-align: center; padding: 1rem">
        <ion-text style="font-weight: bold; font-size: 1.2rem">
          {{ gameOverMessage }}
        </ion-text>
      </div>
      <div
        style="background-color: var(--md-surface); position: absolute; bottom: 0; width: 100%; opacity: 0.8; text-align: center;">
        <ion-button expand="full" fill="text" color="primary" (click)="dismissGameOverModal()">
          <ion-text color="primary">Dismiss</ion-text>
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isPauseGameModalOpen"
           style="--height: auto; --width: auto; --background: transparent; --border-radius: 8px;"
           (didDismiss)="dismissGameOverModal()" [backdropDismiss]="false" (click)="dismissGameOverModal()">
  <ng-template>
    <div class="modal-content" style="position: relative;">
      <img rel="preload" style="width: 100%; height: auto; transform: scale(1.25)"
           ngSrc="assets/images/villagers-playing-catan-small.png"
           alt="game over" height="480" width="480">
      <div
        style="background-color: var(--md-surface); position: absolute; top: 0; width: 100%; opacity: 0.95; text-align: center; padding: 1rem">
        <ion-text style="font-weight: bold; font-size: 1.2rem">
          {{ gameOverMessage }}
        </ion-text>
      </div>
      <div
        style="background-color: var(--md-surface); position: absolute; bottom: 0; width: 100%; opacity: 0.8; text-align: center;">
        <ion-button expand="full" fill="text" color="primary" (click)="dismissGameOverModal()">
          <ion-text color="primary">Dismiss</ion-text>
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
