.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-toolbar {
  --background: var(--md-surfaceContainer);
}


.sd-dice-total {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  font-weight: bold;
}

.next-player {
  display: flex;
  flex-direction: column;
  padding-left: .5rem;
  min-width: 8em;
}

.prev-player {
  display: flex;
  flex-direction: column;
  padding-right: .5rem;
  min-width: 8em;
}

.picker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-content {
  width: 300px;
  height: 335px;
}

.sd-footer-stats {
  display: flex;
  justify-content: space-around;
  font-size: 1.15rem;
}

.sd-play-container {
  display: flex;
  height: 100%;
  gap: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--md-surfaceDim);
}

.sd-dice-container {
  grid-row: 1 / 4;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.sd-alchemist-button {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-start;
  --background: var(--md-secondary);

  ion-icon {
    font-size: 2rem;
    color: var(--md-primaryContainer);
  }

}

.sd-barbarian-track {
  grid-column: 3;
  grid-row: 1/4;
  height: 85%;
  align-self: center;
}

app-action-die,
app-standard-die {
  height: 40%;
  max-height: calc(100vw - 130px);
  max-width: calc(100vw - 130px);
  width: auto;
  aspect-ratio: 1;
}

.barbarian-dice {
  height: 25%;
  width: auto;
}

@media screen and (orientation: landscape) {
  .sd-dice-container {
    flex-direction: row;
  }

  app-action-die,
  app-standard-die {
    height: auto;
    width: 30%;
    max-height: calc(100vh - 130px);
    max-width: calc(100vh - 130px);
  }

  .barbarian-dice {
    height: auto;
    width: 25%;
  }

  .center-roll-total {
    font-size: 6vw;
  }
}

.sd-alchemist-icon {
  color: rgb(25, 174, 25);
}

@media (prefers-color-scheme: dark) {
  .sd-alchemist-button {
    --background: var(--md-surfaceContainer);

    ion-icon {
      color: var(--md-onSurfaceVariant);
    }

  }

  .sd-alchemist-icon {
    color: rgb(41, 227, 41);
  }
  .sd-play-container {
    background-color: var(--md-surfaceDim);
  }
}

.header-ios > ion-toolbar {
  padding-top: calc(var(--ion-safe-area-top) + .25rem);
  padding-bottom: .25rem;
}
