<ion-header [translucent]="true" class="ion-no-border sd-tabs-border">
  <!-- Standard Toolbar -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Game Details</ion-title>
    <ion-buttons *ngIf="showSummary" slot="end">
      <ion-button (click)="deleteGame()">
        <ion-icon slot="icon-only" name="trash"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Segment Control -->
  <ion-toolbar>
    <ion-segment [value]="showSummary ? 'summary' : 'rolls'">
      <ion-segment-button *ngIf="showSummary" value="summary" content-id="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rolls" content-id="rolls">
        <ion-label>Rolls</ion-label>
      </ion-segment-button>
      <ion-segment-button value="histogram" content-id="histogram">
        <ion-label>Histogram</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment-view>
    <ion-segment-content *ngIf="showSummary" id="summary">
      <app-game-summary *ngIf="activeGame" [game]="activeGame"></app-game-summary>
    </ion-segment-content>
    <ion-segment-content id="rolls">
      <app-game-rolls *ngIf="activeGame" [rolls]="rolls"
                      [isCitiesKnights]="activeGame.isCitiesKnights === 1"></app-game-rolls>
    </ion-segment-content>
    <ion-segment-content id="histogram">
      <app-game-histogram *ngIf="activeGame" [rolls]="rolls" [game]="activeGame"></app-game-histogram>
    </ion-segment-content>
  </ion-segment-view>

</ion-content>
