@keyframes grow {
  0% {
    height: 0;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

.ph-chart-container {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.ph-bar-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  animation-name: grow;
  animation-duration: 0.2s;
}

.ph-active-bar {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.ph-bar-label {
  text-align: center;
  font-size: 0.75rem;
  color: var(--md-onSurfaceVariant);
}

.ph-axis-label {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  height: 1em;
  color: var(--ion-color-medium);
}

.ph-active-bar {
  background-color: var(--md-primary);
}
