<ion-text style="display: block; height: 100%; width: 100%;">
  <div class="ph-chart-container">
    @for (col of rolls(); track col.toString() + $index) {
      <div class="ph-bar-container">
        <div
          class="ph-bar-label">
          {{ col === 0 ? "" : col }}
        </div>
        <div
          class="ph-active-bar"
          [ngStyle]="{
            height:
              maxValue() === 0
                ? 0
                : ((col / maxValue()) * 100).toString() + '%',
          }"></div>
        <div class="ph-axis-label">{{ backgroundChart ? " " : $index + 2 }}</div>
      </div>
    }
  </div>
</ion-text>
