<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ player?.name }}</ion-title>
    <ion-buttons *ngIf="player" slot="end">
      <ion-button (click)="showDeletePlayerDialog()">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="showBookmarkPlayerDialog()">
        <ion-icon size="small" slot="icon-only" [name]="player.isUser ? 'bookmark' : 'bookmark-outline'"></ion-icon>
      </ion-button>
      <ion-button (click)="showEditPlayerNameDialog()">
        <ion-icon size="small" slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">player-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="!player" inset>
    <ion-item>
      <ion-label>No player selected</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="player" inset>
    <ion-item>
      <ion-input readonly label="Last Played" [value]="lastPlayed" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Hours Played" [value]="hoursPlayed" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Total Rolls" [value]="totalRolls" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Games Played" [value]="gamesPlayed" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Games Won" [value]="gamesWon" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Win Rate" [value]="winRate" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Longest Win Streak" [value]="longestWinStreak" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Fastest Win" [value]="fastestWin" labelPlacement="stacked"/>
    </ion-item>
    <ion-item>
      <ion-input readonly label="Robber Rate" [value]="robberRate" labelPlacement="stacked"/>
    </ion-item>
  </ion-list>

</ion-content>
