<ion-header [translucent]="true" class="ion-no-border sd-tabs-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ player?.name }}</ion-title>
    <ion-buttons *ngIf="player" slot="end">
      <ion-button (click)="showEditPlayerNameDialog()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-player-summary *ngIf="player" [player]="player"></app-player-summary>
</ion-content>
