.container {
  box-sizing: border-box;
  position: relative;
  height: calc(100% - .25rem);
  overflow-y: scroll;
}

.gr-total-col {
  color: var(--md-primary);
  font-weight: bold;
}

.gr-styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
}

.gr-styled-table thead tr {
  background-color: var(--md-tertiaryContainer);
  color: var(--md-onTertiaryContainer);
  text-align: center;
  position: sticky;
  top: 0;
}

.gr-styled-table th,
.gr-styled-table td {
  padding: 8px 10px;
  text-align: center;
}

.gr-styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.gr-styled-table tbody tr:nth-of-type(even) {
  background-color: var(--md-surface);
}

.gr-styled-table tbody tr:nth-of-type(odd) {
  background-color: var(--md-surfaceContainer);
}

@media (prefers-color-scheme: dark) {
  .gr-styled-table thead tr {
    background-color: var(--md-tertiaryContainer);
    color: var(--md-onTertiaryContainer);
  }
  .gr-styled-table tbody tr {
    border-bottom: 1px solid var(--md-onSurfaceContainer);
  }

}
