<div class="container">
  <table class="gr-styled-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Total</th>
      <th>D1</th>
      <th>D2</th>
      <th *ngIf="isCitiesKnights">Action</th>
      <th>Player</th>
    </tr>
    </thead>
    <tbody>
      @for (roll of rolls; track roll.id) {
        <tr>
          <td>{{ roll.id }}</td>
          <td class="gr-total-col">{{ roll.total }}</td>
          <td>{{ roll.dice1 }}</td>
          <td>{{ roll.dice2 }}</td>
          <td *ngIf="isCitiesKnights">{{ roll.diceAction }}</td>
          <td>{{ roll.playerName }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
