<ion-header [translucent]="true" class="ion-no-border sd-tabs-border">
  <!-- Standard Toolbar -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Game Details</ion-title>
  </ion-toolbar>

  <!-- Segment Control -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="handleSegmentChanged($event)" [swipeGesture]="true">
      <ion-segment-button [value]="0">
        <ion-label>Rolls</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="1">
        <ion-label>Histogram</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <swiper-container style="height: 100%; padding-bottom: var(--ion-safe-area-bottom)" #swiperContainer>
    <swiper-slide class="sd-swiper-slide">
      <app-game-rolls *ngIf="activeGame" [rolls]="rolls" [isCitiesKnights]="activeGame.isCitiesKnights === 1"></app-game-rolls>
    </swiper-slide>
    <swiper-slide class="sd-swiper-slide">
      <app-game-histogram *ngIf="activeGame" [rolls]="rolls" [game]="activeGame"></app-game-histogram>
    </swiper-slide>
  </swiper-container>

</ion-content>
