<ion-router-outlet></ion-router-outlet>
<ion-tabs style="padding-bottom: var(--ion-safe-area-bottom)">
  <ion-tab-bar slot="bottom" style="--background: var(--ion-background-color)">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="players">
      <ion-icon name="group"></ion-icon>
      Players
    </ion-tab-button>
    <ion-tab-button tab="my-stats"  (click)="handleMyStatsClicked()">
      <ion-icon name="user"></ion-icon>
      You
    </ion-tab-button>
    <ion-tab-button tab="app-settings">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
