.dice {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  box-sizing: border-box;
  padding: 8%;
  aspect-ratio: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.dot {
  display: block;
  border-radius: 50%;
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px inset,
  rgba(0, 0, 0, 0.25) 0px 10px 10px inset,
  rgba(0, 0, 0, 0.2) 0px 12px 10px inset;
}

@media (prefers-color-scheme: dark) {
  .dot {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px inset;
  }
}

@keyframes blinker {
  0%, 100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, 2px);
  }
}


.sd-tap-alert {
  color: #FFFFFF;
  animation: blinker 1.25s ease-in-out infinite alternate;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
