<ion-label style="position: relative; display: block; height: 100%; width: 100%;">
  <div class="charts-container">
    <div *ngIf="rosterFilter.length !== 0" class="ph-chart-container">
      @for (col of baseRolls; track col.toString() + $index) {
        <div class="ph-bar-container">
          <div
            class="ph-bar-label">
            {{ col === 0 ? "" : col }}
          </div>
          <div
            [ngClass]="['ph-bar-line', rosterFilter.length > 0 ? 'ph-inactive-bar' : 'ph-active-bar']"
            [ngStyle]="{
            height:
              maxValue === 0
                ? 0
                : ((col / maxValue) * 100).toString() + '%',
          }"></div>
          <div class="ph-axis-label">{{ backgroundChart ? " " : $index + 2 }}</div>
        </div>
      }
    </div>

    <div class="ph-chart-container">
      @for (col of filteredRolls; track col.toString() + $index) {
        <div class="ph-bar-container">
          <div
            class="ph-bar-label">
            {{ col === 0 ? "" : col }}
          </div>
          <div
            [ngClass]="['ph-bar-line', 'ph-active-bar']"
            [ngStyle]="{
            height: maxValue === 0 ? 0 : ((col / maxValue) * 100).toString() + '%'}"></div>
          <div class="ph-axis-label">{{ $index + 2 }}</div>
        </div>
      }
    </div>
  </div>

  <div class="gh-chips">

    @for (player of roster; track player) {

      <div [ngClass]="[!rosterFilter.includes(player) ? 'gh-chip-inactive' : 'gh-chip-active', 'gh-chip']"
                (click)="handleChipClicked(player)">
        <ion-text>{{ player }}</ion-text>
      </div>
    }
  </div>
</ion-label>
