@keyframes grow {
  0% {
    height: 0;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}

.gh-chip {
  font-size: 14px;
  padding-inline: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.gh-chips {
  position: absolute;
  bottom: 0;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100svw;
  overflow-x: scroll;
  gap: .5rem;
}

.ph-chart-container {
  width: 100svw;
  height: 100%;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  display: flex;
  align-items: flex-end;
  gap: 3px;
  position: absolute;
  top: 0;
}

.ph-chart-container {
  height: calc(100% - 50px);
  width: 100%;
}

.ph-bar-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  animation-name: grow;
  animation-duration: 0.2s;
}

.ph-bar-line {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.ph-bar-label {
  text-align: center;
  font-size: 0.75rem;
  color: var(--md-onSurfaceVariant);
}

.ph-bar-label-inactive {
  color: red;
}

.ph-axis-label {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  height: 1em;
  color: var(--ion-color-medium);
}

.ph-inactive-bar {
  background: var(--md-surfaceDim);
}

.ph-active-bar {
  background-color: var(--md-primary);
}

.charts-container {
  width: 100vw;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .ph-inactive-bar {
    background: var(--md-surfaceContainer);
  }
}

@media (prefers-color-scheme: light) {
  .gh-chip-active {
    background-color: var(--md-tertiary);   // tertiary container
    color: var(--md-onTertiary);       // on tertiary container
  }
  .gh-chip-inactive {
    background-color: var(--md-surfaceContainerHigh);  // surface container high
    color: var(--md-onSurfaceVariant);      // on surface variant
  }
}

@media (prefers-color-scheme: dark) {

  .gh-chip-active {
    background-color: var(--md-tertiaryContainer);   // tertiary container
    color: var(--md-onTertiaryContainer);       // on tertiary container
  }
  .gh-chip-inactive {
    background-color: var(--md-surfaceContainerHigh);  // surface container high
    color: var(--md-onSurfaceVariant);      // on surface variant
  }
}
