<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Player</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showCreatePlayerDialog()">
        <ion-icon slot="icon-only" icon="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Players</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="sd-list-section" style="margin: 1rem;">
    <ion-list>
      <ion-item *ngIf="players.length === 0">
        <ion-text>Create some players</ion-text>
      </ion-item>
      @for (player of players; track player.id) {
        <ion-item detail (click)="setupPlayerDetail(player)">
          <div style="display: flex; gap: .5rem">
            <ion-text>{{ player.name }}</ion-text>
            <ion-icon color="danger" *ngIf="player.isUser" aria-hidden="true" name="bookmark"></ion-icon>
          </div>
        </ion-item>
      }
    </ion-list>
  </section>
</ion-content>
