.sg-track {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 3em;
}

.sg-circle {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.sg-line {
  width: 0.15em;
  flex-grow: 1;
  margin: 0.25em 0;
}

.sg-active {
  background-color: var(--md-secondary);
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
}

.sg-inactive {
  background-color: var(--md-surface);
}

@media (orientation: landscape) and (max-height: 450px) {
  .sg-line {
    display: none;
  }
}

.sg-inactive-button {
  --background: var(--md-surfaceContainer);
  --color: var(--ion-text-color-step-100);
}

.sg-active-button {
  --background: var(--md-secondary);
  --color: var(--md-onSecondary);
}

@media (prefers-color-scheme: dark) {
  .sg-inactive-button {
    --background: var(--ms-surface);
    --color: var(--ion-text-color-step-100);
  }

  .sg-inactive {
    //background-color: var(--ion-color-surface);
    background-color: var(--ion-background-color-step-250);
  }

  .sg-active {
    background-color: var(--md-secondary);
  }

}
