/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * CSS imports are loaded via angular.json styles array.
 * This file contains app-specific global styles only.
 */

.md .alert-wrapper {
  border-radius: 8px;
}

.md ion-button {
  --border-radius: 8px;
}

.ios ion-tab-bar {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


.md .sd-tabs-border {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.sd-alert-message .alert-message {
  color: var(--ion-color-danger);
  font-style: italic;
}

.md .sd-swiper-slide {
  height: calc(100vh - 120px);
}

.ios .sd-swiper-slide {
  height: calc(100vh - 100px);
}


.rules-alert .alert-message {
  white-space: pre-line;
  line-height: 1.8;
}

@media (prefers-color-scheme: dark) {
  .md .sd-tabs-border {
    border-bottom: 1px solid var(--ion-background-color-step-150);
  }

  .sd-alert-message .alert-message {
    color: var(--ion-color-warning);
    font-style: italic;
  }
}

