.s-player-list {
  max-height: 27vh; overflow-y: auto;
}

.s-content-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.s-section-header {
  --background: var(--ion-color-light);
}

section {
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--ion-color-light-shade);
}


@media (prefers-color-scheme: dark) {
  .s-section-header {
    --background: var(--ion-background-color-step-100);
  }
}


 .md .s-selection-indicator {
  width: 19px;
  height: 19px;
  background-color: var(--ion-color-primary);
  display: grid;
  place-items: center;
  border-radius: 2px;
  font-size: 14px;
  color: var(--ion-color-primary-contrast);
}

.ios .s-selection-indicator {
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-primary);
}
