.s-player-list {
  max-height: 27vh; overflow-y: auto;
}

.s-content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sd-section-container {
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--md-outlineVariant);
}


.sd-section-header {
  --background: var(--md-secondaryContainer);
  --color: var(--md-onSecondaryContainer);
}


 .md .s-selection-indicator {
  width: 19px;
  height: 19px;
  background-color: var(--md-primary);
  display: grid;
  place-items: center;
  border-radius: 2px;
  font-size: 14px;
  color: var(--md-onPrimary);
}

.ios .s-selection-indicator {
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--md-primary);
}
