<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Settlers Dice</ion-title>
  </ion-toolbar>
</ion-header>
<!-- TODO center title with updated font and dice logo -->
<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settlers Dice</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding-inline: 1rem; padding-top: 1rem;">
    <app-game-summary-card></app-game-summary-card>
  </div>
  <div style="padding-bottom: 1rem;">
    <app-game-list></app-game-list>
  </div>

  <ion-button style="position: fixed; bottom: 16px; right: 16px;" routerLink="/setup">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>Start new game</ion-label>
  </ion-button>

</ion-content>
