<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Settlers Dice</ion-title>
  </ion-toolbar>
</ion-header>
<!-- TODO center title with updated font and dice logo -->
<ion-content style="padding: .5rem;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settlers Dice</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (gameCount > 0) {
    <div style="padding-inline: 1rem; padding-top: 1rem;">
      <app-game-summary-card></app-game-summary-card>
    </div>
    <div style="padding-bottom: 1rem;">
      <app-game-list></app-game-list>
    </div>
  } @else {
    <ion-card class="sd-welcome-card">
      <ion-card-header class="sd-card-header">
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
      <ion-card-content class="sd-card-content">
        <p class="sd-welcome-intro">Welcome to your Catan Companion app! <br/> Let's get started!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="full">
      <ion-item [button]="userPlayer===undefined" (click)="showCreateUserPlayerAlert()">
        <ion-icon *ngIf="userPlayer" color="primary" slot="start" icon="checkmark"></ion-icon>
        <ion-icon *ngIf="!userPlayer" slot="start" icon="square-outline"></ion-icon>
        <ion-label>Create your user player</ion-label>
      </ion-item>
      <ion-item [button]="playerCount < 2" (click)="showCreateMoreUsersAlert()">
        <ion-icon *ngIf="playerCount > 1" color="primary" slot="start" icon="checkmark"></ion-icon>
        <ion-icon *ngIf="playerCount < 2" slot="start" icon="square-outline"></ion-icon>
        <ion-label>Create at least 2 players</ion-label>
      </ion-item>
      <ion-item button [disabled]="gameCount > 0" (click)="showPlayGameAlert()">
        <ion-icon *ngIf="gameCount > 0" color="primary" slot="start" icon="checkmark"></ion-icon>
        <ion-icon *ngIf="gameCount === 0" slot="start" icon="square-outline"></ion-icon>
        <ion-label>Create and play a game</ion-label>
      </ion-item>
    </ion-list>
  }

  <ion-button [disabled]="playerCount < 2" style="position: fixed; bottom: 16px; right: 16px;" routerLink="/setup">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>Start new game</ion-label>
  </ion-button>

</ion-content>
