.sd-welcome-card {
  --background: var(--md-secondaryContainer);
  margin-inline: 0;
  border-radius: 8px;
}

.sd-card-header {
  color: var(--md-onSecondaryContainer);
}

.sd-card-content {
  color: var(--md-onSecondaryContainer);
}

.sd-welcome-intro {
  margin-bottom: 1rem;
}

.sd-card-item {
  margin-bottom: 4px;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.sd-card-item-text {
  font-size: 14px;
}

@media screen and (orientation: landscape) {
  .sd-container {
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .sd-button-text {
    font-family: "Crimson Pro", serif;
    font-size: 3.5vw;
  }

  .sd-logo-image {
    width: 25vw;
    aspect-ratio: 1;
  }

  #sd-play-icon {
    font-size: 10vw;
  }
}
