.s-content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sd-section-container {
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--md-outlineVariant);
}

.sd-section-header {
  --background: var(--md-secondaryContainer);
  --color: var(--md-onSecondaryContainer);
}

.reset-button {
  margin-top: -0.5rem;
}
