.s-content-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


section {
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid var(--ion-color-light-shade);
}


@media (prefers-color-scheme: dark) {
  .s-section-header {
    --background: var(--ion-background-color-step-100);
  }
}

