<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="s-content-container">
    @if (settings) {
      <section class="sd-list-section">
        <ion-list>
          <ion-item>
            <ion-toggle [checked]="settings.soundEffects" (ionChange)="handleSettingsChange('soundEffects', $event)">
              <ion-label>
                <h2>Sound Effects</h2>
                <ion-note class="ion-text-wrap">Toggle in game sound effects</ion-note>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-toggle [checked]="settings.fairDice" (ionChange)="handleSettingsChange('fairDice', $event)">
              <ion-label>
                <h2>Use Fair Dice</h2>
                <ion-note class="ion-text-wrap">Guaranteed normal distribution over 36 rolls</ion-note>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-item>
            <ion-toggle [checked]="settings.rollAnnouncer" (ionChange)="handleSettingsChange('rollAnnouncer', $event)">
              <ion-label>
                <h2>Roll Announce</h2>
                <ion-note class="ion-text-wrap">Dice result is spoken</ion-note>
              </ion-label>
            </ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-toggle [checked]="settings.rollHaptics" (ionChange)="handleSettingsChange('rollHaptics', $event)">
              <ion-label>
                <h2>Roll Haptics</h2>
                <ion-note class="ion-text-wrap">Device shakes when dice is rolled</ion-note>
              </ion-label>
            </ion-toggle>
          </ion-item>
        </ion-list>
      </section>
    }
  </div>
</ion-content>
